<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homw page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="navbar">
        <h1>Project</h1>
        <div class="nav_links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">something else</a></li>
                <li><a href="#">another link</a></li>
            </ul>
        </div>
    </section>

    <section class="hero">
        <div class="hero_desc">
            <h1>Welcome back to School.</h1>
        </div>
    </section>
</body>
</html>